<div class="recipes-index-container">

  <%= render partial: "shared/navbar" %>

  <div class="recipe-of-the-day">
    <div class="recipe-of-the-day-border">
      <div class="recipe-of-the-day-img">

      </div>
      <div class="recipe-of-the-day-content">
        <h2>Recipe of the day: <%= link_to @recipe_of_the_day.name, user_recipe_path(@recipe) %></h2>
        <p><%= @recipe_of_the_day.description %></p>
        <h3>INGREDIENTS</h3>
        <% @recipe_of_the_day.ingredients.each do |i| %>
          <p><%= i.name %></p>
        <% end %>
        <button class="btn">SHOW MORE</button>
      </div>
    </div>
  </div>

  <div class="user-recipes-grid-container">
    <div class="user-recipes-grid">
      <% @recipes.each do |r| %>
        <div>
          <h3><%= link_to r.name, user_recipe_path(r) %></h3>
          <p><%= "VF" if r.vegan %></p>
          <p><%= "VeF" if r.vegetarian %></p>
          <p><%= "DF" if r.dairy_free %></p>
          <p><%= "GF" if r.gluten_free %></p>
          <p><%= r.cooking_time %> mins</p>
          <p>Serves <%= r.serves %></p>
        </div>
      <% end %>
    </div>
  </div>

  <%= render partial: "shared/books" %>

  <%= render partial: "shared/footer" %>

</div>
