<div class="recipes-index-container">

  <%= render partial: "shared/navbar" %>

  <div class="recipe-of-the-day-container">
    <div class="recipe-of-the-day-border">
      <div class="recipe-of-the-day">
        <div class="recipe-of-the-day-img-container">
          <div class="recipe-of-the-day-img">

          </div>
        </div>
        <div class="recipe-of-the-day-content-container">
          <div class="recipe-of-the-day-content">
            <h2 class="recipe-of-the-day-title">Recipe of the day: <%= link_to @recipe_of_the_day.name, user_recipe_path(@recipe) %></h2>
            <p class="recipe-of-the-day-description"><%= @recipe_of_the_day.description %></p>
            <h3>INGREDIENTS</h3>
            <ul>
            <% @recipe_of_the_day.recipe_ingredients.each do |ri| %>
               <li><%= ri.amount %> of <%= ri.ingredient.name %>, <%= ri.extra_info %></li>
            <% end %>
            </ul>
            <%= link_to "SHOW MORE", user_recipe_path(@recipe_of_the_day) %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="user-recipes-grid-container">
    <div class="user-recipes-grid">
      <% @recipes.each do |r| %>
        <div class="recipe-index-img">
          <div class="recipe-grid">
            <div class="recipe-type">

              <% if r.vegan %>
               <div class="white-box">
                 <div class="diet-icon vegan"></div>
              </div>
              <% end %>

              <% if r.vegetarian %>
              <div class="white-box">
                 <div class="diet-icon vegetarian"></div>
              </div>
              <% end %>

              <% if r.dairy_free %>
              <div class="white-box">
                 <div class="diet-icon dairy_free"></div>
              </div>
              <% end %>

              <% if r.gluten_free %>
              <div class="white-box">
                 <div class="diet-icon gluten_free"></div>
              </div>
              <% end %>

            </div>
            <div class="recipe-name">
              <h3><%= link_to r.name, user_recipe_path(r) %></h3>
            </div>
            <div class="cooking-time-and-serves">
              <p><%= r.cooking_time %> mins</p>
              <p>Serves <%= r.serves %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%= render partial: "shared/books" %>

  <%= render partial: "shared/footer" %>

</div>
