<h3><%= @recipe.name %></h3>
<p><%= @recipe.description %></p>
<p><%= @recipe.instructions %></p>
<p><%= @recipe.dietary_info %></p>
<p><%= @recipe.cooking_time %> mins</p>
<p>Serves <%= @recipe.serves %></p>

<% @recipe.recipe_ingredients.each do |ri| %>
  <p><%= ri.amount %> <%= ri.ingredient.name %></p>
<% end %>

<%= link_to "back", user_recipes_path %>
