<%= render partial: "shared/navbar" %>

<%= image_tag image_url(@recipe.image_url) %>
<h3><%= @recipe.name %></h3>
<p><%= @recipe.description %></p>

<% array = @recipe.instructions.split(",") %>
<% array.each_with_index do |r, i| %>
  <p><%= "#{i + 1}. #{r.split(' ')[0].capitalize} #{r.split(' ')[1..-1].join(' ')}" %></p>
<% end %>

<p><%= "V" if @recipe.vegan %></p>
<p><%= "VeF" if @recipe.vegetarian %></p>
<p><%= "DF" if @recipe.dairy_free %></p>
<p><%= "GF" if @recipe.gluten_free %></p>

<% mins = (@recipe.cooking_time.to_f % 60).to_i %>
<% hours = ((@recipe.cooking_time - mins) / 60).to_i %>
<%= hours == 0 ? "#{mins} mins" : "#{hours} hrs #{mins} mins" %>

<p>Serves <%= @recipe.serves %></p>

<% @recipe.recipe_ingredients.each do |ri| %>
  <p><%= ri.amount %> of <%= ri.ingredient.name %></p>
<% end %>

<%= link_to "back", user_recipes_path %>
