<head>
  <meta property="og:image" content="<%= @recipe.image_url %>" />
</head>

<%= render partial: "shared/anchor-link" %>

<div class="recipes-show-container">
  <%= render partial: "shared/navbar" %>

  <div class="recipes-show-recipe-container"><a id="top" style="position: absolute; top: 0;"></a>
    <div class="recipes-show-recipe">
      <div class="recipe-show-img-container">
        <div class='recipe-show-img' style="background-image: url(<%= @recipe.image_url %>)"></div>
      </div>

      <div class="recipe-show-content-container">
        <div class="recipe-show-content">
          <h3><%= @recipe.name %></h3>
          <div class="cooking-time-and-serves-show">
            <% mins = (@recipe.cooking_time.to_f % 60).to_i %>
            <% hours = ((@recipe.cooking_time - mins) / 60).to_i %>
            <p><i class="far fa-clock" style="padding: 0 0.5em;"></i><%= @recipe.cooking_time %> mins</p>
            <p><i class="fas fa-user-friends" style="padding: 0 0.5em;"></i><%= @recipe.serves %></p>
          </div>

          <p><%= @recipe.description %></p>

          <p>--------------------------------------</p>

          <h4>INGREDIENTS</h4>
          <ul>
          <% @recipe.recipe_ingredients.each do |ri| %>
            <li><%= ri.amount %> <%= ri.ingredient.name %> <%= ri.extra_info %></li>
          <% end %>
          </ul>

          <p>--------------------------------------</p>

          <h2 class="recipe-instructions">Instructions</h2>

          <% array = @recipe.instructions.split("/") %>
          <% array.each_with_index do |r, i| %>
            <p><%= "#{i + 1}. #{r.split(' ')[0].capitalize} #{r.split(' ')[1..-1].join(' ')}" %></p>
          <% end %>

           <p>--------------------------------------</p>

          <% if @recipe.fact != nil %>
            <h2>Super Nutrition fact</h2>
            <p><%= @recipe.fact %></p>
          <% else %>
          <% end %>

          <%= link_to "back", user_recipes_path %>
        </div>
      </div>
    </div>
  </div>

  <%= render partial: "shared/books" %>

  <%= render partial: "shared/footer" %>

</div>
