<head>
  <meta property="og:image" content="<%= @recipe.image_url %>" />
</head>

<%= render partial: "shared/anchor-link" %>

<div class="recipes-show-container">
  <%= render partial: "shared/navbar" %>

  <div class="recipes-show-recipe-container"><a id="top" style="position: absolute; top: 0;"></a>
    <div class="recipes-show-recipe">
      <div class="recipe-show-img-container">
        <div class='recipe-show-img' style="background-image: url(<%= @recipe.image_url %>)"></div>
      </div>

      <div class="recipe-show-content-container">
        <div class="recipe-show-content">
          <h3><%= @recipe.name %></h3>
          <div class="cooking-time-and-serves-show">
            <% mins = (@recipe.cooking_time.to_f % 60).to_i %>
            <% hours = ((@recipe.cooking_time - mins) / 60).to_i %>
            <p><i class="far fa-clock" style="padding: 0 0.5em;"></i><%= @recipe.cooking_time %> mins</p>
            <p><i class="fas fa-user-friends" style="padding: 0 0.5em;"></i><%= @recipe.serves %></p>
            <div class="recipe-dietary-info-container">
              <p class="recipe-dietary-info info-1"><%= "VE" if @recipe.vegan %> </p>
              <p class="recipe-dietary-info">  <%= "V" if @recipe.vegetarian %> </p>
              <p class="recipe-dietary-info"> <%= "DF" if @recipe.dairy_free %> </p>
              <p class="recipe-dietary-info"> <%= "GF" if @recipe.gluten_free %> </p>
            </div>
          </div>

          <p><%= @recipe.description %></p>

          <p>------------------------</p>

          <h4 class="ingredients">INGREDIENTS</h4>
          <ul>
          <% @recipe.ingredients.each do |i| %>
            <li><%= i.name %></li>
          <% end %>
          </ul>

          <p>------------------------</p>

          <h4 class="recipe-instructions">INSTRUCTIONS</h4>
          <ol>
          <% array = @recipe.instructions.split("/") %>
          <% array.each do |r| %>
            <li><%= "#{r.split(' ')[0].capitalize} #{r.split(' ')[1..-1].join(' ')}" %></li>
          <% end %>
          </ol>

           <p>------------------------</p>

          <% if @recipe.fact != nil %>
            <h3>Super Nutrition fact</h3>
            <p><%= @recipe.fact %></p>
          <% else %>
          <% end %>

          <%= link_to "back", user_recipes_path %>
        </div>
      </div>
    </div>
  </div>

  <%= render partial: "shared/books" %>

  <%= render partial: "shared/footer" %>

</div>
