<div>
  <p>---------------</p>
  <%= link_to "new recipe", new_recipe_path %>
  <p>---------------</p>
  <%= link_to "new ingredient", new_ingredient_path %>
  <p>---------------</p>
</div>

<div class="recipes-index-container">


  <%= render partial: "shared/navbar" %>


  <%= render partial: "shared/recipes" %>

  <%= render partial: "shared/books" %>

  <%= render partial: "shared/footer" %>

</div>
