<div style="margin: 2em">
<%= simple_form_for(@recipe) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :instructions, label: "Instructions (between each instruction, please insert a forward slash /, with no spaces either side)", placeholder: "e.g: Fill the bowl./Empty the bowl." %>
  <%= f.input :vegan, as: :boolean, checked_value: true, unchecked_value: false%>
  <%= f.input :vegetarian, as: :boolean, checked_value: true, unchecked_value: false%>
  <%= f.input :dairy_free, as: :boolean, checked_value: true, unchecked_value: false%>
  <%= f.input :gluten_free, as: :boolean, checked_value: true, unchecked_value: false%>
  <%= f.input :cooking_time, label: "Total Cooking Time (mins)"%>
  <%= f.input :serves, collection: 1..10, label: "Serves (select 10 if for lots of people, will come out as 10+ on real page)" %>
  <%= f.input :image_url, label: "Image Url: copy the relevant link from the list (in your email) and paste it below" %>
  <%= f.button :submit %>
<% end %>
</div>
