<%= render partial: "shared/navbar" %>

<%= image_tag image_url(@recipe.image_url) %>

<%= link_to "edit recipe", edit_recipe_path %>
<%= link_to "Delete recipe",
      recipe_path(@recipe),
      method: :delete,
      data: { confirm: "Are you sure?" } %>

<h3><%= @recipe.name %></h3>
<p><%= @recipe.description %></p>


<% array = @recipe.instructions.split(",") %>
<% array.each_with_index do |r, i| %>
  <p><%= "#{i + 1}. #{r.split(' ')[0].capitalize} #{r.split(' ')[1..-1].join(' ')}" %></p>
<% end %>

<p><%= "V" if @recipe.vegan %></p>
<p><%= "VeF" if @recipe.vegetarian %></p>
<p><%= "DF" if @recipe.dairy_free %></p>
<p><%= "GF" if @recipe.gluten_free %></p>

<% mins = (@recipe.cooking_time.to_f % 60).to_i %>
<% hours = ((@recipe.cooking_time - mins) / 60).to_i %>
<%= hours == 0 ? "#{mins} mins" : "#{hours} hrs #{mins} mins" %>

<p>Serves <%= @recipe.serves %></p>


<% @recipe.recipe_ingredients.each do |ri| %>
  <%=  link_to "Delete ingredient",
          recipe_ingredient_path(ri),
          method: :delete,
          data: { confirm: "Are you sure?" } %>
  <p><%= ri.amount %> of <%= ri.ingredient.name %></p>
<% end %>

<%= link_to "create ingredient", new_ingredient_path %>
<%= link_to "add ingredient", new_recipe_recipe_ingredient_path(@recipe) %>
<%= link_to "back", recipes_path %>
