<%= link_to "edit", edit_recipe_path %>
<%= link_to "Delete recipe",
      recipe_path(@recipe),
      method: :delete,
      data: { confirm: "Are you sure?" } %>

<h3><%= @recipe.name %></h3>
<p><%= @recipe.description %></p>
<p><%= @recipe.instructions %></p>
<p><%= @recipe.dietary_info %></p>
<p><%= @recipe.cooking_time %> mins</p>
<p>Serves <%= @recipe.serves %></p>

<% @recipe.recipe_ingredients.each do |ri|%>
  <p><%= ri.amount %></p>
<% end %>

<%= link_to "back", recipes_path %>
