<%= render partial: "shared/navbar" %>



<div class="recipes-show-recipe-container">
    <div class="recipes-show-recipe">
      <div class="recipe-show-img-container">
        <!-- <div class='recipe-show-img' style="background-image: url(<%= @recipe.image_url %>)"></div> -->
      </div>

      <div class="recipe-show-content-container">
        <div class="recipe-show-content">
          <h3><%= @recipe.name %></h3>
          <p><%= link_to "edit recipe", edit_recipe_path %></p>
          <p><%= link_to "Delete recipe", recipe_path(@recipe), method: :delete, data: { confirm: "Are you sure?" } %></p>
          <div class="cooking-time-and-serves">
            <% mins = (@recipe.cooking_time.to_f % 60).to_i %>
            <% hours = ((@recipe.cooking_time - mins) / 60).to_i %>
            <p> <%= hours == 0 ? "#{mins} mins" : "#{hours} hrs #{mins} mins" %></p>
            <p>Serves <%= @recipe.serves %></p>
          </div>

          <p><%= @recipe.description %></p>

          <p>--------------------------------------</p>

          <h4>INGREDIENTS</h4>
          <p><%= link_to "add ingredient", new_ingredient_path(@recipe) %></p>

          <% @recipe.ingredients.each do |i| %>
           <%=  link_to "Delete ingredient",
            ingredient_path(i),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
            <li><%= i.name %></li>
          <% end %>
          </ul>

          <p>--------------------------------------</p>

          <h3>Instructions</h3>

          <% array = @recipe.instructions.split("/") %>
          <% array.each_with_index do |r, i| %>
            <p><%= "#{i + 1}. #{r.split(' ')[0].capitalize} #{r.split(' ')[1..-1].join(' ')}" %></p>
          <% end %>

           <p>--------------------------------------</p>

          <% if @recipe.fact != nil %>
            <h3>Super Nutrition fact</h3>
            <p><%= @recipe.fact %></p>
          <% else %>
          <% end %>

          <%= link_to "back", user_recipes_path %>
        </div>
      </div>
    </div>
  </div>
