<div class="navbar-original">
  <div class="navbar-content">
    <div class="nav-icons">
      <a href=""> <i class="fab fa-facebook-f icon"></i></a>
      <a href=""><i class="fab fa-instagram icon"></i></a>
      <a href=""><i class="fab fa-amazon icon"></i></a>
    </div>
    <div>Lucy Burney Nutrition</div>
    <span style="font-size:1.5em;cursor:pointer" onclick="openNav()">&#9776;</span>
  </div>
</div>

<div id="myNav" class="overlay">
  <a class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
    <p><%= link_to "Home", root_path %></p>
    <p><%= link_to "About", about_path %></p>
    <p><%= link_to "Books", books_path %></p>
    <p><%= link_to "Recipes", user_recipes_path %></p>
    <p><%= link_to "Contact", contact_path %></p>
  </div>
</div>

<script>
  function openNav() {
    document.getElementById("myNav").style.height = "100%";
  }

  function closeNav() {
    document.getElementById("myNav").style.height = "0%";
  }
</script>


