<div class="navbar-original">
  <div class="navbar-content">
    <div class="nav-icons">
      <a href="https://www.facebook.com/lucy.burney.18" target=”_blank”> <i class="fab fa-facebook-f icon"></i></a>
      <a href="https://www.instagram.com/lucyburneynutrition/" target=”_blank”><i class="fab fa-instagram icon"></i></a>
      <a href="https://www.amazon.co.uk/s?k=lucy+burney&ref=nb_sb_noss_1" target=”_blank”><i class="fab fa-amazon icon"></i></a>
    </div>
    <%= link_to root_path do %>
    <div class="logo">
      <div class="logo-top">
        <h2 class="logo-lucy-burney">Lucy</h2>
        <div class="navbar-bluebell b-1"></div>
        <h2 class="logo-lucy-burney">Burney</h2>
      </div>
      <h3 class="logo-bottom">NUTRITION</h3>
    </div>
    <% end %>
    <span class="hamburger" style="font-size:1.5em;cursor:pointer" onclick="openNav()">&#9776;</span>
  </div>
</div>

<div id="myNav" class="overlay">
  <a class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
    <p><%= link_to "Home", root_path %></p>
    <p><%= link_to "About", about_path %></p>
    <p><%= link_to "Books", books_path %></p>
    <p><%= link_to "Recipes", user_recipes_path %></p>
    <p><%= link_to "Contact", contact_path %></p>
  </div>
</div>

<script>
  function openNav() {
    document.getElementById("myNav").style.height = "100%";
  }

  function closeNav() {
    document.getElementById("myNav").style.height = "0%";
  }
</script>


