<div class="recipe-of-the-day-container">
  <div class="recipe-of-the-day-border">
    <div class="recipe-of-the-day">
      <div class="recipe-of-the-day-img-container">
        <div class="recipe-of-the-day-img" style="background-image: url(<%= @recipe_of_the_day.image_url %>)">

        </div>
      </div>
      <div class="recipe-of-the-day-content-container">
        <div class="recipe-of-the-day-content">
          <h2 class="recipe-of-the-day-title">Recipe of the day</h2>
          <h5><%= link_to @recipe_of_the_day.name, user_recipe_path(@recipe) %></h5>
          <p class="recipe-of-the-day-description"><%= @recipe_of_the_day.description.split(".")[0] %></p>
          <h4>INGREDIENTS</h4>
          <ul>
          <% @recipe_of_the_day.recipe_ingredients.first(6).each do |ri| %>
          <li><%= ri.amount %> of <%= ri.ingredient.name %>, <%= ri.extra_info %></li>
          <% end %>
          </ul>
          <p>.......</p>
          <h4><%= link_to "SHOW MORE", user_recipe_path(@recipe_of_the_day) %></h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="user-recipes-grid-container">
  <div class="user-recipes-grid">
    <% @recipes.each do |r| %>
      <div class="recipe-index-img" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 100%, rgba(255, 255, 255, 0) 104.37%), url(<%= r.image_url %>)">
      <%= link_to user_recipe_path(r) do %>

        <div class="recipe-grid">
          <div class="recipe-type">

            <% if r.vegan %>
             <div class="white-box">
               <div class="diet-icon vegan"></div>
            </div>
            <% end %>

            <% if r.vegetarian %>
            <div class="white-box">
               <div class="diet-icon vegetarian"></div>
            </div>
            <% end %>

            <% if r.dairy_free %>
            <div class="white-box">
               <div class="diet-icon dairy_free"></div>
            </div>
            <% end %>

            <% if r.gluten_free %>
            <div class="white-box">
               <div class="diet-icon gluten_free"></div>
            </div>
            <% end %>

          </div>
          <div class="recipe-name">
            <h3><%= link_to r.name, user_recipe_path(r) %></h3>
          </div>
          <div class="cooking-time-and-serves">
            <p><%= r.cooking_time %> mins</p>
            <p>Serves <%= r.serves %></p>
          </div>
        </div>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
