<%= render partial: "shared/anchor-link" %>

<div class="about-container">

  <%= render partial: "shared/navbar" %>

  <div class="about-section-1 blue"><a id="top" style="position: absolute; top: 0;"></a>
    <div class="about-section-1-border box">
      <div class="about-section-1-img-container">
        <div class="section-1-img"></div>
      </div>
      <div class="section-1 content">
        <h2>about</h2>
        <p>Lucy trained as a Nutritional Therapist at the <a href="https://www.ion.ac.uk/" target="_blank">Institute for Optimum Nutrition</a> (DipION) in the 1990’s. </p>
        <p>She became a third year tutor at ION and went on to practice at the famous Hale Clinic in Central London. </p>
        <p> She was also appointed a Foresight practitioner in 1997, and worked alongside Dr Marilyn Glenville in her preconception care clinic. </p>
        <p>When she started her own family, Lucy was determined that her children should benefit from everything she had learned.</p>
      </div>
    </div>
  </div>

  <div class="about-section-1">
    <div class="about-section-2-border box">
      <div class="about-section-2-img-container">
        <div class="section-2-img"></div>
      </div>
      <div class="section-2 content">
        <p>“I found I became so passionate about children’s health through learning and experiencing it. It was very hard getting information on how to feed your children to keep them healthy.”</p>
        <p>Her first book “Optimum Nutrition for Babies and Young Children” was designed to fill this void.  The success of the book and the great results she was getting from treating children in her private practice, led to her second book, “Boost Your Child’s Immune System.”  This book was published internationally and she became a regular contributor to newspapers and magazines as well as conducting interviews on radio and television.</p>
        <p>Two more books followed, “Immunity Foods for Healthy Kids and “Superfoods for Healthy Kids.”</p>
      </div>
    </div>
  </div>


  <div class="about-section-1 blue">
    <div class="about-section-1-border box">
      <div class="about-section-3-img-container">
        <div class="section-3-img"></div>
      </div>
      <div class="section-3 content">
        <p> Family health is Lucy’s passion. She is never happier than when she is sitting round the kitchen table providing for her family and friends and enjoying home cooked, locally sourced food. “Bringing up a strong, healthy family has been really fulfilling.” </p>
        <p>The importance of a strong immune system has never been more important with the advent of Covid-19.  Lucy focuses on easy-to-follow, practical ways that help parents feel empowered that they can make a difference. Instilling children with a positive attitude to diet is a gift that lasts a lifetime.</p>
        <p>“We all want to do the right thing for our children, and I have found this book an incredible way to help mine have a healthy life.” Kate Winslet, actress, on “Boost Your Child’s Immune System”.</p>
      </div>
    </div>
  </div>

  <%= render partial: "shared/books" %>

  <%= render partial: "shared/newsletter" %>

  <%= render partial: "shared/footer" %>

</div>
