<%= render partial: "shared/anchor-link" %>

<div class="books-container">

  <%= render partial: "shared/navbar" %>

  <div class="book-container b-1"><a id="top" style="position: absolute; top: 0;"></a>
    <div class="book">
      <div class="book-1-img">

      </div>
      <div class="book-content">
        <h3>Boost Your Childs Immune System</h3>
        <h2 class="book-title-2">Positive Nutrition</h2>
        <p>Healthy children need healthy immune systems.  It is vital to boost your children’s resistance to disease so that they can easily fight off bugs and infections – and are fit and strong for life. The most powerful way to strengthen your child’s immune system is with a good, nutritious diet.  Top nutrition expert Lucy Burney shows you how to set your family on the path to lifelong good health. </p>
        <a class="btn purple-button" href="https://www.amazon.co.uk/Boost-Your-Childs-Immune-System/dp/074992442X/ref=sr_1_2?dchild=1&keywords=lucy+burney&qid=1594389948&sr=8-2" target="_blank">BUY HERE</a>
      </div>
    </div>
  </div>

  <div class="book-container b-2">
    <div class="book">
      <div class="book-2-img">

      </div>
      <div class="book-content">
        <h3>Optimum Nutrition for Babies and Young Children</h3>
        <h2 class="book-title-2">Optimum Nutrition</h2>
        <p>Healthy children need healthy food.  If you want to give your child the best possible start in life, good nourishment is vital.
In Optimum Nutrition for Babies and Young Children, top nutritionist Lucy Burney shows how easy it is to make quick, delicious and nutrient rich meals that all your family will love.  Over 150 tempting recipe ideas will ensure that your children grown fit, strong and bursting with health.  If you care about your children’s health, this book is a must.</p>
        <a class="btn purple-button" href="https://www.amazon.co.uk/Optimum-Nutrition-Babies-Young-Children/dp/0749926228/ref=sr_1_1?dchild=1&keywords=lucy+burney&qid=1594390096&sr=8-1" target="_blank">BUY HERE</a>
      </div>
    </div>
  </div>

  <div class="book-container b-3">
    <div class="book">
      <div class="book-3-img">

      </div>
      <div class="book-content">
        <h3>Immunity Foods for Healthy Kids</h3>
        <h2 class="book-title-2">Child Immunity</h2>
        <p>Immunity Foods for healthy kids is a complete guide to help ward off illness and maximise your child’s immunity through the power of food. The essential companion for every parent who wants to boost their child’s immune system through diet. </p>
        <a class="btn purple-button" href="https://www.amazon.co.uk/Lucy-Burney-Immunity-Healthy-Fighting/dp/B00I63AEUO/ref=sr_1_1?dchild=1&keywords=immunity+foods+lucy+burney&qid=1594391152&sr=8-1" target="_blank">BUY HERE</a>
      </div>
    </div>
  </div>

  <%= render partial: "shared/books" %>

  <%= render partial: "shared/newsletter" %>

  <%= render partial: "shared/footer" %>

</div>

