<%= render partial: "shared/anchor-link" %>

<div class="home-container">

  <!------------ navbar ------------>

  <%= render partial: "shared/navbar" %>

  <% flash.each do |type, msg| %>
    <div class="alert alert-info alert-dismissible fade in">
      <%= msg %>
    </div>
  <% end %>



  <!------------ banner ------------>

  <div class="home-banner"><a id="top" style="position: absolute; top: 0;"></a>
    <div class="home-banner-box">
      <h1>KNOWLEDGE</h1>
      <h1>WISDOM</h1>
      <h1>EXPERIENCE</h1>
      <a href="#Profile" class="white"><button class="home-button" style="outline: 0;">DISCOVER</button></a>
    </div>
  </div>

  <!------------ profile ------------>

  <div class="home-profile"><a id="Profile" style="position: absolute; top: 95vh;"></a>
    <div class="home-profile-box">
      <div class="home-profile-image-container">
        <div class="home-profile-image-border">
          <div class="home-profile-image">
          </div>
        </div>
      </div>
      <div class="home-profile-content">

        <h5>LUCY BURNEY (DipION mBANT) was one of the first qualified nutritional therapists to specialize in children’s health and wellbeing.</h5>
        <p>Her four books, <a href="https://www.amazon.co.uk/Optimum-Nutrition-Babies-Young-Children/dp/0749926228/ref=sr_1_1?dchild=1&keywords=lucy+burney&qid=1594390096&sr=8-1" target="_blank">Optimum Nutrition for Babies and Young Children</a>, <a href="https://www.amazon.co.uk/Lucy-Burney-Immunity-Healthy-Fighting/dp/B00I63AEUO/ref=sr_1_1?dchild=1&keywords=immunity+foods+lucy+burney&qid=1594391152&sr=8-1" target="_blank">Immunity Foods for Healthy Kids</a>, <a href="https://www.amazon.co.uk/Superfoods-Healthy-Kids-Childs-Fighting/dp/1844833658/ref=sr_1_1?dchild=1&keywords=superfoods+for+healthy+kids+lucy&qid=1595082620&sr=8-1" target="_blank">Superfoods for Healthy Kids</a>>, and the highly successful, <a href="https://www.amazon.co.uk/Boost-Your-Childs-Immune-System/dp/074992442X/ref=sr_1_2?dchild=1&keywords=lucy+burney&qid=1594389948&sr=8-2" target="_blank">Boost Your Childs Immune System</a>, cover every growing stage of your child’s life from tot to teen.
        <p>Published internationally, Lucy gained a reputation for her common sense approach to children’s health. Her books also make being a great parent as easy and straightforward as possible.</p>

        <p>Lucy has frequently appeared on radio and TV, in newspapers and magazines and has contributed articles for magazines including <u>The Tesco Baby Club</u> and <u>Natural Parent</u>.</p>
        <p>She arms parents with the tools to raise strong, healthy and happy children. This has never been more relevant and more important for a rewarding life in the modern world.</p>

        <p>Lucy lives in Hampshire with her husband and four children.</p>

        <p class="letter-spacing">Read about <%= link_to "Lucy's Journey", about_path %> here</p>
      </div>
    </div>
  </div>

  <!------------ recipes ------------>

  <div class="home-recipes">
    <div class="home-recipes-box">
      <div class="home-recipes-content">
        <h2 class="home-recipes-title">New Recipes</h2>
        <p>Enjoy Lucy’s newest recipes, bursting with flavour, superfoods and nutrients to better support that healthy lifestyle we all aspire to have.</p>
      </div>
      <div class="home-recipe-images">
        <div class="home-recipe-image r-img r-img-1"></div>
        <div class="home-recipe-image r-img r-img-2"></div>
        <div class="home-recipe-image r-img-3"></div>
      </div>
      <button class="red-button"><%= link_to 'MORE RECIPES', user_recipes_path %></button>
    </div>
  </div>

  <!------------ books ------------>

  <%= render partial: "shared/books" %>

  <!------------ newsletter ------------>

  <%= render partial: "shared/newsletter" %>

  <!------------ footer ------------>

  <%= render partial: "shared/footer" %>

</div>

