<%= render partial: "shared/anchor-link" %>

<div class="contact-container"><a id="top" style="position: absolute; top: 0;"></a>
  <%= render partial: "shared/navbar" %>

  <div class="contact-form-container">
    <div class="contact-form">
      <h2 class="contact-us-title">Contact Lucy</h2>
    <%= simple_form_for @contact, defaults: {required: false} do |f| %>
      <%= f.input :name, placeholder: "John Doe"%>
      <%= f.input :email, placeholder: "johndoe@gmail.com" %>
      <%= f.input :message, as: :text, placeholder: "Hi Lucy...." %>
      <div class="contact-button-container"><%= f.button :submit, "Send Message", class: "purple-button contact-button" %></div>
    <% end %>
    </div>
  </div>

  <%= render partial: "shared/books" %>

  <%= render partial: "shared/newsletter" %>

  <%= render partial: "shared/footer" %>
</div>

