<!DOCTYPE html>
<html>
  <head>
    <title>LvbNutrition</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID"></script>
    <%= javascript_include_tag 'analytics', async: true %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div class="alert alert-info collapsible" style="opacity: 0.9;">
        <button class="close close-alert" data-dismiss="alert" style="padding-left: 0.25em; cursor: pointer;">&times;</button>
        <%= msg %>
      </div>
    <% end %>

    <%= yield %>
    <script>
      // ------------ Smooth Scroll ------------ //
      function smoothScroll () {
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
          anchor.addEventListener('click', function (e) {
            e.preventDefault();

            document.querySelector(this.getAttribute('href')).scrollIntoView({
                behavior: 'smooth'
            });
          });
        });
      }

      smoothScroll();
    </script>
  </body>
</html>
